<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Updated User Details</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Updated User Details</h1>
    <p>
      <strong>Name:</strong> <%= updatedUser.first_name %> <%=
      updatedUser.last_name %>
    </p>
    <!-- <p><strong>Last Name:</strong> <%= updatedUser.last_name %></p> -->
    <p><strong>Username:</strong> <%= updatedUser.username %></p>
    <p><strong>Email:</strong> <%= updatedUser.email %></p>
    <a href="/users/<%= updatedUser.id %>">Back to User Details</a>
  </body>
</html>
